@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@500&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.myName {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:xx-large;
}

.monContainer {
    padding: 0 50px 20px 50px;
}

.monBg {
    background: url(../assets/img/fleur.jpg) no-repeat;
    background-position: center;
}

.myPhoto {
    max-width: 150px;
    margin-bottom: 30px;
}

.mesCoordonnees {
    margin-top: 20px;
}

.mesCoordonnees .fa-solid {
    padding-right: 20px;
}

.social {
    text-decoration: none;
    color: rgb(92, 181, 233);
}
.social:hover {
    color: rgb(20, 78, 28);
}

.surligne {
    background-color: rgb(150, 204, 236);
    padding-top: 3px;
}

hr {
    color: rgb(243, 169, 9);
}

.cache, .copyright {
    display: none;
}

.maPetiteFont {
    font-size:smaller;
    line-height: 0.5rem;
}

.capitaleGras {
    text-transform: uppercase;
    font-weight: 800;
}

section {
    margin-bottom: 20px;
}

footer {
    /* box-shadow: 0px 0px 20px 0px rgb(150, 204, 236); */
    background-color: rgb(238, 204, 130);
    text-align: center;
    padding-bottom: 5px;
}