@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@500&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header {
    display: flex;
    background-image: url(../assets/img/END.jpg) no-repeat;
    background-position: center;
    flex-direction: column;
    text-align: center;
    /* flex-wrap: nowrap; */
}

.myName {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:xx-large;
}

.monContainer {
    padding: 0 50px 20px 50px;
}
.myPhoto {
    max-width: 150px;
    margin-bottom: 30px;
}

.mesCoordonnees {
    margin-top: 20px;
}

.mesCoordonnees .fa-solid {
    padding-right: 20px;
}

.myEmail, .myTel {
    text-decoration: none;
    color: brown;
}

.myEmail:hover, .myTel:hover {
    color: rgb(3, 163, 163);
}

.surligne {
    background-color: rgb(236, 174, 150);
    padding-top: 3px;
}

.cache {
    display: none;
}

.maPetiteFont {
    font-size:smaller;
    line-height: 0.5rem;
}

.capitale {
    text-transform: uppercase;
}

